<div align="center"><br></div>

<div align="center">
<span id="jinrishici-sentence">正在加载今日诗词....</span>
</div>


<div align="center">
<img src="https://profile-counter.glitch.me/weijiajin-com/count.svg" alt="访客数量"/></div>
<span><a href="https://github.com" target="_blank"><img src="https://weijiajin.com/网站部署-GitHub-5DADE2.svg" style="max-width: 100%; height: auto;"/></a><a href="https://cloudflare.com" target="_blank"><img src="https://weijiajin.com/域名解析-CloudFlare-f38020.svg" style="max-width: 100%; height: auto;"></a></span></div>
</div>

<p><span id="runday"></span>Powered by <a href="https://meekdai.com/Gmeek.html" target="_blank">Gmeek</a></p>



<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
