<br>
<div align="center"><img src="https://profile-counter.glitch.me/weijiajin-com/count.svg" alt="访客数量"/></div>
<br>
<div class="flex-container"><span class="my-span-foot"><a href="https://github.com" target="_blank"><img src="https://weijiajin.com/网站部署-GitHub-5DADE2.svg" style="max-width: 100%; height: auto;"/></a><a href="https://cloudflare.com" target="_blank"><img src="https://weijiajin.com/域名解析-CloudFlare-f38020.svg" style="max-width: 100%; height: auto;"></a><a href="https://meekdai.com/Gmeek.html" target="_blank"><img src="https://img.shields.io/badge/%E5%8D%9A%E5%AE%A2%E6%A1%86%E6%9E%B6-Gmeek-gray?style=flat&logo=telegraph&labelColor=blue" style="max-width: 100%; height: auto;"></a></span></div>

<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
